services:
    netbull_core.twig.extension:
        class: NetBull\CoreBundle\Twig\CoreExtension
        public: true
        arguments: [ '@router', '@request_stack', '@parameter_bag' ]
        tags:
            - { name: twig.extension }

    NetBull\CoreBundle\Paginator\Paginator:
        arguments: [ '@request_stack' ]
        public: true

    NetBull\CoreBundle\Paginator\PaginatorSimple:
        arguments: [ '@request_stack' ]

    NetBull\CoreBundle\Routing\Extractor:
        arguments: [ '@router', '%kernel.cache_dir%', '%kernel.bundles%' ]

    libphonenumber.phone_number_util:
        class: libphonenumber\PhoneNumberUtil

    netbull_core.phone_number.helper:
        class: NetBull\CoreBundle\Templating\Helper\PhoneNumberHelper
        tags:
            - { name: templating.helper, alias: phone_number_helper }

    netbull_core.phone_number.twig.extension:
        class: NetBull\CoreBundle\Twig\PhoneNumberExtension
        arguments: [ '@netbull_core.phone_number.helper' ]
        public: false
        tags:
            - { name: twig.extension }
